VITE_SUPABASE_URL=https://aqtsyepnwtuzxguhnicl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxdHN5ZXBud3R1enhndWhuaWNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5MjA2MDYsImV4cCI6MjEwMjQ5NjYwNn0.Z7X7DkM9zb31Dgfv8ukBsxeCA6TnzVocyHyMPgOt2JA
